.create {
  flex-direction: row !important;
  justify-content: flex-end;
  align-items: center;
  background: white !important;
  padding: 16px;
  input {
    margin-right: 8px;
  }
  &-left {
    display: flex;
  }
}

.box {
  display: flex;
  align-items: center;
  color: #7367f0;
  .img-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
  }
  .box-text {
    color: red;
  }
}
