.product-create {
  margin: 20px 0;
  background: white !important;
  border-radius: 8px;
  padding: 14px;
}
.ant-upload-list {
  text-align: center;
}
.input-number-cus {
  width: 100% !important;
}
